div.p-favorites {
  border:solid;
    padding: 20px;
    background: linear-gradient(to bottom, rgb(43,50,178) 0%, rgb(20,136,204) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}